:root{
  --background-body: #504d4d;
  --background-content: #352f2f;
  --text-color: #e5e5e5;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-body);
  color: var(--text-color);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  height: 100%;
}

header.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background: var(--background-content);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

header.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link { 
  color: #fff; 
  text-decoration: none; 
  padding: 10px; 
  font-size: 1.4rem; 
} 

/* Changing the color */
.link:hover { 
  color: rgb(255, 86, 86); 
}

.article {
  margin: 1rem 0;
}

.post-wrapper{
  width: 100%;
}

.page-content{
  margin: 50rem 0;
  max-width: 90%;
  margin: 0 0;
  padding: 5rem 0.5rem 0 0.5rem;
  padding-left: 5%;
  display: block;
}

.home-content{
  margin: 50rem 0;
  max-width: 90%;
  margin: 0 0;
  padding: 6rem 0.5rem 0 0.5rem;
  padding-left: 5%;
  display: block;
}

.chat-content{
  display: grid; /* Enable grid layout */
  grid-template-columns: 3fr 1fr; /* Two columns with the first one larger */
  grid-gap: 20px; /* Gap between columns */
  max-width: 90%;
  margin: 50px auto; /* Adjust margin as needed */
  padding: 6rem 0.5rem 0 0.5rem;
}

div.note{
  white-space: normal;
  max-width: 400px; /* Or any suitable width */
  display: block;

}
textarea {
  resize: none;
}

.a { 
  color: #5be6cd; 
  text-decoration: none; 
  padding: 10px; 
  font-size: 1.4rem; 
} 

.a:hover { 
  color: rgb(255, 86, 86); 
}

/* unvisited link */
a:link {
  color: rgb(132, 200, 146);
}

/* visited link */
a:visited {
  color: rgb(188, 207, 153);
}

/* selected link */
a:active {
  color: rgb(214, 236, 157);
}